.mp-design-component-richtext__link {
  z-index: 2000;

  .zent-form__control-label {
    width: 60px;
  }

  .zent-input-wrapper {
    width: 300px;
  }

  .btn-primary {
    margin-right: 10px;
  }
}